#titulo {
    color: rgb(65, 17, 236)
}

.subtitulo {
    color: rgb(236, 138, 9)
}

.ssubtitulo {
    color: rgb(182, 127, 10)
}

.sssubtitulo {
    color: rgb(231, 25, 180)
}

.redes {
    color: rgb(197, 68, 85)
}